$white: #ffffff;
$white1: #ccc;

$green: #16cd09;
$green1: #4fea9a4a;
$green2: #e6eea99a;
$green3: #aee077;

$orange: #ffbb00;

$grey: #a09999;
$grey1: #454545;
$grey2: #bfaeb0;
$grey3: #5c6a94;
$grey4: #3d414e;

$black: #000000;

$blue: #bef3ec;
$blue1: #0d00ff;
$blue2: #6495ed;
