* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  bottom: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.defaultTheme {
  background-color: #4fea9a4a;
  color: #16cd09 !important;
}

.darkTheme {
  background-color: #e6eea99a;
  color: #ffbb00 !important;
}
