@import "../../common/assets/styles/globals.scss";

%boxshadow {
  box-shadow: 4px 4px 9.6px $grey, 0 8px 18px $black;
}

.container {
  display: flex;
  text-transform: uppercase;
  font: 500 44px/1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial,
    sans-serif;
  transition: font-size 0.2s;
  background-size: contain;
  background-color: $white;
  height: 565px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    display: flex;
    width: 300px;
    height: 350px;
  }

  .content {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }
}
